/*HEADER*/

a {
  color: inherit;
}

.topAd {
  background-color: black;
  text-align: center;
  padding: 20px 0;
}

.promo {
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 17px;
}

.detailsLink {
  font-size: 10px;
  font-weight: 300;
}

.promoTag {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 300;
  color: white;
  margin: 5px 0;
}

.adLink:hover {
  color: lightgray;
}

nav {
  display: flex;
  flex-direction: row;
}

.navBar {
  font-family: Arial;
  font-size: 10px;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  letter-spacing: 2px;
  width: 50%;
}

.leftNav {
  font-family: Arial;
  font-size: 10px;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  letter-spacing: 1px;
}

.navItem {
  padding: 0 5px;
  margin: 0 5px;
  text-decoration: none;
}

.rightNav {
  justify-content: flex-end;
}

.logoWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.madewellLogo {
  background-image: url(../assets/madewell-logo.png);
  height: 41px;
  width: 170px;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 10px 0;
}

.madewellTag {
  text-transform: uppercase;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  font-size: 13px;
  margin-bottom: 30px;
}

.catLine {
  color: lightgray;
}

.clothing {
  padding: 2px 8px;
  justify-content: space-between;
  text-transform: uppercase;
  white-space: nowrap;
  text-decoration: none;
}

.clothing:hover {
  color: gray;
}

hr {
  margin: 0;
}

/*MAIN*/

.mainPhotoWrap {
  display: flex;
  justify-content: center;
}

.mainPhoto {
  height: 600px;
  width: 100%;
  background-image: url(../assets/holiday.jpg);
  text-align: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  margin-top: 0;
  position: absolute;
  z-index: 1;
  align-self: center;
}

.mainTextWrap {
  position: absolute;
  z-index: 2;
  width: 100%;
  margin: 20px;
}

.leftTag {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 30px;
}

.middleTagWrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.middleTagText {
  font-family: 'Bungee Shade', cursive;
  font-size: 150px;
  width: 50%;
}

.middleTag2 {
  text-align: right;
}

.rightTag {
  text-align: right;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 30px;
}

.landingButton {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 12px;
  text-align: center;
  background-color: black;
  padding-top: 20px;
  margin-top: 30px;
  color: white;
  width: 242px;
  height: 36px;
  float: right;
}

.newButton {
  clear: right;
}

.promoCodeButton {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 14px;
  position: fixed;
  bottom: 0;
  left: 0;
}

.promoCodeLetters {
  font-weight: 700;
}



